





<video id="monitor" autoplay style="display: none; width: 320px; height: 240px;"></video>

<div id="canvasLayers"  width="320" height="240"  style="position: relative; left: 0px; top: 0px;display: none;">
<canvas id="videoCanvas" width="320" height="240" style="z-index: 1; position: absolute; left:0px; top:0px;"></canvas>
<canvas id="layer2"     width="320" height="240" style="z-index: 2; position: absolute; left:0px; top:0px; opacity:0.5;"></canvas>
</div>
<canvas id="blendCanvas" style="display: none; position: relative; left: 320px; top: 240px; width: 320px; height: 240px;"></canvas>
<div id="messageError"></div>
<div id="messageArea" style="position: relative; left: 0px; top: 270px;">Messages will be displayed here.</div>
<div id="messageArea2" style="position: relative; left: 0px; top: 290px;">Based on 
<a href="http://www.adobe.com/devnet/html5/articles/javascript-motion-detection.html">http://www.adobe.com/devnet/html5/articles/javascript-motion-detection.html</a></div>



